<html>
  <head>
    <title>Cloud assignment visualization 18CJ024156</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">
<meta charset="utf-8">
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>
  </head>
  <body>
      <h1 align="center"> AVERAGE PERCENTAGE OF PUBLIC(GOVERNMENT) TELEVISION STATIONS</h1>

    <div class="cell">
        <p>
            There exists certain countries that are governed by a strict military regime which prevents private companies from owning or operating
 broadcast media to prevent/curb spread of slander against the government. While some other countries simply have too low a population
 which is not enough motivation to allow private investors to establish broadcasting businesses there.
Therefore both categories of countries have 100% of their television stations owned by the government. 
Such Nations include Algeria, Carpe Verde, Comoros, Eritea, Eswantini, Gambia amongst others.</p>
<p>ZIMBABWE(A CASE STUDY) - The Government owns all local radio and TV stations; foreign shortwave broadcasts and satellite TV are 
available to those who can afford antennas and receivers; in rural areas, access to TV broadcasts is extremely limited; analog TV only,
 no digital service (2017)</p>
 
 
 <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
        <script src="d3.min.js?v=3.2.8"></script>

        <script type="text/javascript"charset="utf-8">
            d3.text("mydatafile.csv", function(data) {
                var parsedCSV = d3.csv.parseRows(data);

                var container = d3.select("body")
                    .append("table")

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .text(function(d) { return d; });
            });
        </script>
 
<p>
The graph below shows the PERCENTAGE OF PUBLIC(GOVERNMENT) TELEVISION STATIONS in all African countries over 5 years(2015-2019).
        </p>
		<p>_________________________________________________________________________________________________________________________</p>
        <img src="{{ url_for('static', filename='images/2015.png') }}" width="70%" >
		<p>_________________________________________________________________________________________________________________________</p>
        <img src="{{ url_for('static', filename='images/2016.png') }}" width="70%">
		<p>_________________________________________________________________________________________________________________________</p>
        <img src="{{ url_for('static', filename='images/2017.png') }}" width="70%" >
		<p>_________________________________________________________________________________________________________________________</p>
        <img src="{{ url_for('static', filename='images/2018.png') }}" width="70%">
		<p>_________________________________________________________________________________________________________________________</p>
        <img src="{{ url_for('static', filename='images/2018.png') }}" width="70%">
		<p>_________________________________________________________________________________________________________________________</p>


      </div>


      <div  class="cell">
        <p class="main-text">MEASURES OF DISPERSION
		The measures of dispersion below aim to show(graphically) the changes in the total percentage of all government TV institutions per year
            ___________________________________________________________________________________________________________________
        </p>
        <img src="{{ url_for('static', filename='images/ave.png') }}" width="40%">
        
      </div>

<div  class="cell">
        <p class="main-text">
            ___________________________________________________________________________________________________________________
        </p>
        <img src="{{ url_for('static', filename='images/standev.png') }}" width="40%">
        
      </div>
	  
	  <div  class="cell">
        <p class="main-text">
            ___________________________________________________________________________________________________________________
        </p>
        <img src="{{ url_for('static', filename='images/var.png') }}" width="40%">
        
      </div>
	  
	  <div  class="cell">
        <p class="main-text">
            ___________________________________________________________________________________________________________________
        </p>
        <img src="{{ url_for('static', filename='images/iqr.png') }}" width="40%">
        
      </div>
      

  </body>
</html>